{
    "extends": "airbnb",
    "env": {
        "browser": true
    },
    "rules": {
        "no-bitwise": "off",
        "no-plusplus": "off",
        "no-underscore-dangle": ["error", {
            "allowAfterThis": true,
        }],
    }
}
